Data Preperation

In [28]:
import pandas as pd
import numpy as np
from itertools import chain

In [29]:
training = pd.read_csv('HMAHCC_COMP.csv')

C:\Users\cgn31\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
class DataPrep:
    def __init__(self, df):
        self.raw_df = df
    
    def seperate_frame(self):
        new_diagnosis_col = ['New diagnosis - CPD',
                         'New diagnosis - Hypertension', 
                         'New diagnosis - Top 5', 
                         'New diagnosis - CAD', 
                         'New diagnosis - CHF', 
                         'New diagnosis - Diabetes']

        call_col = ['Inbound Call by Prov',
                    'Inbound Call by Mbr',
                    'Inbound Call by Other']

        non_rx_claim_col = ['Surgery',
                            'Fully Paid Claim']

        rx_claim_col = ['RX Claim - New Drug',
                        'RX Claim - First Time Mail Order']
        
        self.new_diagnosis = self.raw_df[self.raw_df['event_descr'].isin(new_diagnosis_col)]

        self.new_diagnosis = self.new_diagnosis.drop(['event_attr6',
                                                      'event_attr7',
                                                      'event_attr8',
                                                      'event_attr9',
                                                      'event_attr10',
                                                      'PAY_DAY_SUPPLY_CNT',
                                                      'PAYABLE_QTY',
                                                      'MME',
                                                      'DRUG_TYPE',
                                                      'Specialty',
                                                      'Specialty2',
                                                      'Specialty3'],
                                                       axis = 1)

        self.new_diagnosis.columns = ['id',
                                 'event_descr',
                                 'diagnosis',
                                 'place_of_treatment',
                                 'charge_amount',
                                 'net_paid_amount',
                                 'member_responsible_amount',
                                 'Days']
        
        self.call = self.raw_df[self.raw_df['event_descr'].isin(call_col)]

        self.call = self.call.drop(['event_attr6',
                          'event_attr7',
                          'event_attr8',
                          'event_attr9',
                          'event_attr10',
                          'PAY_DAY_SUPPLY_CNT',
                          'PAYABLE_QTY',
                          'MME',
                          'DRUG_TYPE',
                          'Specialty',
                          'Specialty2',
                          'Specialty3'],
                           axis = 1)

        self.call.columns = ['id',
                        'event_descr',
                        'call_category',
                        'inquiry_reason_description',
                        'disposition_description',
                        'origin',
                        'location',
                        'Days']
        
        self.non_rx_claim = self.raw_df[self.raw_df['event_descr'].isin(non_rx_claim_col)]

        self.non_rx_claim = self.non_rx_claim.drop(['event_attr6',
                                          'event_attr7',
                                          'event_attr8',
                                          'event_attr9',
                                          'event_attr10',
                                          'PAY_DAY_SUPPLY_CNT',
                                          'PAYABLE_QTY',
                                          'MME',
                                          'DRUG_TYPE',
                                          'Specialty',
                                          'Specialty2',
                                          'Specialty3'],
                                           axis = 1)

        self.non_rx_claim.columns = ['id',
                                'event_descr',
                                'diagnosis',
                                'place_of_treatment',
                                'charge_amount',
                                'net_paid_amount',
                                'member_responsible_amount',
                                'Days']
        
        self.new_provider = self.raw_df[self.raw_df['event_descr']=='New provider']
        self.new_provider = self.new_provider.iloc[:,:2]
        
        self.rx_claim = self.raw_df[self.raw_df['event_descr'].isin(rx_claim_col)]

        self.rx_claim = self.rx_claim.drop(['event_attr6',
                          'event_attr7'],
                           axis = 1)

        self.rx_claim.columns = ['id',
                            'event_descr',
                            'gpi_drug_group6_id',
                            'gpi_drug_class_description',
                            'brand_name',
                            'drug_group_id',
                            'generic_name',
                            'drug_group_description',
                            'member_responsible_amount',
                            'gpi_drug_group8_id',
                            'Days',
                            'PAY_DAY_SUPPLY_CNT',
                            'PAYABLE_QTY',
                            'MME',
                            'DRUG_TYPE',
                            'Specialty',
                            'Specialty2',
                            'Specialty3']
        
        self.rx_paid = self.raw_df[self.raw_df['event_descr']=='RX Claim - Paid']

        self.rx_paid = self.rx_paid.drop(['event_attr2',
                                'event_attr7'],
                                 axis = 1)

        self.rx_paid.columns = ['id',
                           'event_descr',
                           'gpi_drug_class_description',
                           'rx_cost',
                           'net_paid_amount',
                           'brand_name',
                           'drug_group_description',
                           'generic_name',
                           'member_responsible_amount',
                           'gpi_drug_group8_id',
                           'Days',
                           'PAY_DAY_SUPPLY_CNT',
                           'PAYABLE_QTY',
                           'MME',
                           'DRUG_TYPE',
                           'Specialty',
                           'Specialty2',
                           'Specialty3']
        
        self.rx_reject = self.raw_df[self.raw_df['event_descr']=='RX Claim - Rejected']

        self.rx_reject = self.rx_reject.drop(['PAY_DAY_SUPPLY_CNT',
                                    'PAYABLE_QTY',
                                    'MME',
                                    'DRUG_TYPE',
                                    'Specialty',
                                    'Specialty2',
                                    'Specialty3'],
                                     axis =1)

        self.rx_reject.columns = ['id',
                             'event_descr',
                             'status_code',
                             'diagnosis',
                             'cob',
                             'claim_tier',
                             'brand_name',
                             'generic_name',
                             'ndc_id',
                             'pay_day_supply_count',
                             'member_responsible_amount',
                             'gpi_drug_group8_id',
                             'Days']
        
    def get_opioid_data(self):
        self.opioid_data = self.raw_df[self.raw_df['PAY_DAY_SUPPLY_CNT'].notnull()]
        self.opioid_data_grouped = self.opioid_data.groupby(by='id')
        
    def LTOT(self):
        
        def get_LTOT(ID):
            try:
                group = self.opioid_data_grouped.get_group(ID)
                frame = group[['Days', 'PAY_DAY_SUPPLY_CNT']].drop_duplicates()
                frame = frame[frame['Days']>=0]
                frame['drugs until'] = (frame['Days'] + frame['PAY_DAY_SUPPLY_CNT']).astype(int)
                frame['range'] = frame.apply(lambda x : range(x['Days'].astype(int),x['drugs until'].astype(int)),1)

                concat = concatenated = chain(*list(frame['range']))
                concat = set(concat)

                day_frame = pd.DataFrame(columns = ['Days', 'Has Drug?'])
                day_frame['Days'] = range(max(concat)+1)
                day_frame['Has Drug?'] = (day_frame['Days'].isin(concat))

                for n in range(180,len(day_frame)+1):
                    frame_slice = day_frame.iloc[n-180:n]
                    drug_days = np.sum(frame_slice['Has Drug?'])

                    if drug_days >= 162:
                        return (True, n-180, n)

                return (False, np.nan, np.nan)
            except:
                return (np.nan, np.nan, np.nan)
        
        id_list = self.raw_df['id'].drop_duplicates().values
        
        response_variable = pd.DataFrame(id_list, columns = ['id'])
        response_variable['LTOT'] = response_variable['id'].map(get_LTOT)
        
        response_variable[['LTOT', 'Begining Date', 'End Date']] = \
        pd.DataFrame(response_variable['LTOT'].tolist(), index = response_variable.index)
        
        self.response_variable = response_variable

In [71]:
training_class = DataPrep(training)

In [72]:
training_class.get_opioid_data()

In [73]:
training_class.LTOT()

In [74]:
training_class.response_variable

                  id   LTOT  Begining Date  End Date
0      ID10010854159  False            NaN       NaN
1      ID10013863216   True            0.0     180.0
2      ID10024447278   True            0.0     180.0
3       ID1002482139   True            0.0     180.0
4       ID1003386406  False            NaN       NaN
5      ID10036289882  False            NaN       NaN
6      ID10036954381  False            NaN       NaN
7      ID10055739763   True          224.0     404.0
8      ID10074598346  False            NaN       NaN
9      ID10081072715  False            NaN       NaN
10      ID1008136105   True          292.0     472.0
11     ID10085004805  False            NaN       NaN
12     ID10085392189   True          247.0     427.0
13     ID10112532931   True            0.0     180.0
14     ID10119459922  False            NaN       NaN
15     ID10125698107   True            0.0     180.0
16     ID10126196784  False            NaN       NaN
17      ID1013630023   True            0.0     180.0
18     ID10137326880   True            0.0     180.0
19     ID10144726843  False            NaN       NaN
20     ID10155139868  False            NaN       NaN
21     ID10158166620  False            NaN       NaN
22     ID10166893764   True            0.0     180.0
23     ID10167700196   True            0.0     180.0
24     ID10169051312   True          389.0     569.0
25     ID10180352120   True            0.0     180.0
26     ID10189080475  False            NaN       NaN
27     ID10194867854  False            NaN       NaN
28     ID10201747254   True          228.0     408.0
29     ID10203805803   True            0.0     180.0
...              ...    ...            ...       ...
13970  ID99819880491   True            0.0     180.0
13971   ID9982180832  False            NaN       NaN
13972  ID99824085831  False            NaN       NaN
13973  ID99827357428   True            0.0     180.0
13974  ID99832270387   True          215.0     395.0
13975  ID99844174319  False            NaN       NaN
13976  ID99851961387  False            NaN       NaN
13977  ID99853738490   True            0.0     180.0
13978  ID99865372013  False            NaN       NaN
13979  ID99866353021  False            NaN       NaN
13980  ID99870677385   True          307.0     487.0
13981  ID99877095827  False            NaN       NaN
13982  ID99888932285  False            NaN       NaN
13983  ID99893580330   True            0.0     180.0
13984  ID99899080861   True          324.0     504.0
13985  ID99899156391  False            NaN       NaN
13986  ID99906098656  False            NaN       NaN
13987  ID99906998779   True            0.0     180.0
13988  ID99915109341   True            0.0     180.0
13989  ID99915340915   True            0.0     180.0
13990  ID99922543950  False            NaN       NaN
13991  ID99932051589  False            NaN       NaN
13992   ID9993577054  False            NaN       NaN
13993  ID99940102826  False            NaN       NaN
13994  ID99952965555  False            NaN       NaN
13995  ID99971049558  False            NaN       NaN
13996  ID99975648894   True            0.0     180.0
13997  ID99985278397   True            0.0     180.0
13998  ID99987501651   True            0.0     180.0
13999  ID99994197161   True            0.0     180.0

[14000 rows x 4 columns]

In [75]:
dir(training_class)

['LTOT',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_opioid_data',
 'opioid_data',
 'opioid_data_grouped',
 'raw_df',
 'response_variable',
 'seperate_frame']

From here we work with the data:

2